node_modules                                                                                         
npm-debug.log                                                                                        
.git                                                                                                 
.env                                                                                                 
.devcontainer                                                                                        
src/database/app.db                                                                                  
frontend 